body{
    text-align:center;
    font-size: 16px;
    background-color: darkgray;
}

form{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(128, 128, 128, 0.335);
}
input{
    margin: 0.5em;
    border: 2px solid rgb(46, 45, 45);
    border-radius: 10%;
    box-shadow: 0.2em 0.2em 0.1em 0.2em #888888;
    font-size: 1.4em;
}

button{
    background-color: rgba(90, 139, 230, 0.7);
    border-radius: 20%;
    border: 2px solid rgb(128, 240, 197);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0.4em 0.5em;
    text-align: center;
}
